button {
	padding: 14px;
	background-color: #afffdf;
	border: solid #2ca576 3px;
	font-size: 80%;
	color: #3e4a60;
	width: 130px;
}

.create {
	margin-left: 15%;
}

.join {
	margin-right: 15%;
	float: right;
}

form > button {
	width: 40px;
	padding: 3px;
	margin-left: 15px;
}

input {
	background-color: #eafff6;
	border: solid #2ca576 2px;
}

.join-form > input{
	margin-right: 30px;
}