.Char {

	display: inline-block;
        height: 64px;
        width: 64px;
        margin: 7px 7px 14px 7px;
        border: 1px solid black;
        border-radius: 15px;
        font-size: 27px;
        color: black;
        text-align: center;
        background: #F5F5DC;
        box-shadow: 0 2px 3px #ccc;
}

.Char p {
        color: black;
        text-align: center;
        font-size: 37px;
        padding-top: 11px;
        margin: 0px;
        
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
    .Char {
        border-radius: 3px;
                height: 36px;
                width: 36px;
                margin: 3px;
                
    }

    .Char p {
                
                font-size: 22px;
                padding-top: 7px;
                margin: 0px;
        
        }
}

@media only screen and (min-width: 500px) and (max-width: 700px) {
    .Char {
        border-radius: 7px;
                height: 49px;
                width: 49px;
                margin: 4px;
                
    }

    .Char p {
        
                text-align: center;
                font-size: 22px;
                padding-top: 12px;
                margin: 0px;
        
        }
}