.Home ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    border-top: none;
    border-left: none;
    border-right: none;

}

.Home li {
    display: inline-block;
    margin: 20px;
    padding: 0 12px 0 12px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    border-radius: 10px;

}

.Home li:hover {
    border: 1px solid #eee;
    box-shadow: 0 4px 5px #ccc;
}

.Home a {
    text-decoration: none;
    color: black;
}

.Home a:hover,
.Home a:active {
    color: #d58282;
}

.title {
    display: flex;
    justify-content: space-around;
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    margin-top: 40px;
    

}


.text {
  color: black;
  font-size: 65px;
  font-weight: 650;
  font-family: Helvetica;
  position: relative;
  -webkit-animation: jump 1.5s ease-out infinite ;
  animation: jump 1.5s ease-out infinite; 
  
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
   .text {
      color: black;
      font-size: 35px;
      font-weight: 650;
      -webkit-animation: jump 1.5s ease-out infinite ;
      animation: jump 1.5s ease-out infinite; 
  
  } 

}

@media only screen and (min-width: 500px) and (max-width: 700px) {
    .text {
      color: black;
      font-size: 45px;
      font-weight: 650;
      -webkit-animation: jump 1s ease-out infinite ;
      animation: jump 1s ease-out infinite; 
 }
}

.text-B {
    animation-delay:250ms;
  }.text-O {
    animation-delay:450ms;
  }.text-N {
    animation-delay:650ms;
  }.text-A {
    animation-delay:850ms;
  }.text-N2 {
    animation-delay:1050ms;
  }.text-Z {
    animation-delay:1250ms;
  }.text-A2 {
    animation-delay:1450ms;
  }.text-G {
    animation-delay:1650ms;
  }.text-R {
    animation-delay:1850ms;
  }.text-A3 {
    animation-delay:2050ms;
  }.text-M {
    animation-delay:2250ms;
  }.text-! {
    animation-delay:2450ms;
  }

@keyframes jump {
    0% {
            color: black;
            top: 0px;
        }
    50% {  
            color: #4970bd;
            top: -30px;
        }
    100% {  
            color: black;
            top: 0px;
        }
}

@-webkit-keyframes jump {
     0% {
            color: black;
            top: 0px;
        }
    50% {  
            color: #4970bd;
            top: -30px;
        }

    100% {  
            color: black;
            top: 0px;
        }
}


