.Buttons button {
	display: inline-block;
	width: 270px;
	height: 70px;
	border-radius: 10px;
	background-color: red;
	color: white;
	font-size: 30px;
	margin: 0 4px 9px 4px;
}

.Buttons button:hover {
	cursor: pointer;
}

.Buttons button:disabled {
	background-color: #d58282;
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
    .Buttons button {
	display: inline-block;
	width: 240px;
	height: 45px;
	margin: 0 4px 9px 4px;
	border-radius: 5px;
	background-color: red;
	font-size: 24px;
}


}

@media only screen and (min-width: 500px) and (max-width: 700px) {
     .Buttons button {
	display: inline-block;
	width: 270px;
	height: 70px;
	margin: 0 4px 9px 4px;
	border-radius: 10px;
	background-color: red;
	font-size: 30px;
}
}