.Keyboard {
	text-align: center;
	display: inline-block;
	font-family: Helvetica;
	border-radius: 20px;
	background: #4970bd;
	height: 60px;
	width: 60px;
	margin: 5px;
	box-shadow: 0 2px 3px #ccc;
	-webkit-transition: width .1s, height .1s;
	transition: width .1s, height .1s;
}

.Keyboard p {
	color: white;
	text-align: center;
	font-size: 37px;
	padding-top: 10px;
	margin: 0px;
	
}

.Keyboard p:hover {
	cursor: pointer;
	box-shadow: ;
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
    .Keyboard {
        border-radius: 3px;
		background: #4970bd;
		height: 36px;
		width: 36px;
		margin: 3px;
		
    }

    .Keyboard p {
		
		font-size: 22px;
		padding-top: 7px;
		margin: 0px;
	
	}
}

@media only screen and (min-width: 500px) and (max-width: 700px) {
    .Keyboard {
        border-radius: 7px;
		background: #4970bd;
		height: 49px;
		width: 49px;
		margin: 4px;
		
    }

    .Keyboard p {
	
		text-align: center;
		font-size: 22px;
		padding-top: 12px;
		margin: 0px;
	
	}
}