.App {
  text-align: inline block;
  margin: auto;
  width: 800px;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  background-color: linear-gradient(to right, lightgrey, white, lightgrey) ;
}

html {
	background-color: linear-gradient(to right, lightgrey, white, lightgrey);

}

body,#root{margin:0;padding:0;font-family:sans-serif;height:100%;background: white}input,textarea{font-family:Arial}.login{width:100%;height:100%;display:flex;justify-content:center;align-items:center; margin-top: 15px}.login-form{display:flex;justify-content:center;flex-direction:column;}.login-form input{max-width:100%;border-top:none;border-left:none;border-right:none;height:20px;line-height:20px;font-size:20px;margin-top: 15px;border-bottom:solid 2px #b3b2ca;transition:all .23s ease-in}.login-form input:focus{border-bottom:solid 2px #5d5d8a;outline:none}.login-form .error{text-align:center;margin:5px 0;padding:5px 10px;color:#c92c43}


.login-form button {
	width: 100%; 
	height: 40px; 
	border-radius: 10px;
	background-color: #4970bd;
	font-size: 30px;
	color: white;

} 

.login-form button:hover {
	cursor: pointer;
	background-color: #d58282;
}


@media only screen and (max-width: 480px) {
	.App {
	  text-align: inline block;
	  margin: auto;
	  width: 480px;
	}
}