body {
	padding: 0;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.header {
	margin: 0;
} 

.header > h1 {
	color: black;
	margin-top: 22px;
	text-align: center;
}

.content > h4, p {
	margin: 6px;
	text-align: center;
	font-size: 27px;
	text-align: justify;
}
