.Layout {
	display: block;
	float: left;
	
	text-align: center;
	font-family: Helvetica;
	color: #2c3e50;

}

.Start {
	display: inline-block;
	width: 250px;
	height: 70px;
	border-radius: 10px;
	background-color: blue;
	color: white;
	font-size: 30px;
	margin: auto;
}

.Start:hover {
	cursor: pointer;
}

p {
	text-align: center;
	font-size: 37px;
	padding-top: 11px;
	margin: 0px;
	
}