.Layout {
	display: block;
	float: left;
	
	text-align: center;
	font-family: Helvetica;
	color: #2c3e50;

}

.Layout h4 {
	margin: 7px 0 7px 0;
}

.Start {
	display: inline-block;
	width: 250px;
	height: 70px;
	border-radius: 10px;
	background-color: blue;
	color: white;
	font-size: 30px;
	margin: auto;
}

.Start:hover {
	cursor: pointer;
}

p {
	text-align: center;
	font-size: 37px;
	padding-top: 11px;
	margin: 0px;
	
}

.Layout h3{
	display: inline-block;
    margin: 20px;
    padding: 0 12px 0 12px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    border-radius: 10px;

}
